<table class="min-w-full bg-white">
    <thead>
    <tr>
        <%= sortable_th label: 'Title', column: :title, path: :posts_path, class_style: "w-64 py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider" %>
        <%= sortable_th label: 'Body', column: :body, path: :posts_path, class_style: "py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider" %>
        <%= sortable_th label: 'Actions', column: :id, path: :posts_path, sortable: false, class_style: "py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider w-10" %>
    </tr>
    </thead>
    <tbody>
        <% posts.each do |post| %>
            <tr id="<%= dom_id post %>" class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="py-2 px-4 border-b border-gray-200"><%= post.title %></td>
                <td class="py-2 px-4 border-b border-gray-200"><%= post.body %></td>
                <td class="py-2 px-4 border-b border-gray-200">
                    <div class="flex gap-2">
                        <%= link_to "Edit", edit_post_path(post), data: { turbo_frame: 'modal' }, class: "rounded-lg py-1 px-3 bg-gray-100 inline-block font-medium" %>
                        <%= button_to "Destroy", post, method: :delete, data: { turbo_frame: '_top', turbo_confirm: "Are you sure?" }, class: "rounded-lg py-1 px-3 bg-red-600 text-white inline-block font-medium" %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="flex justify-between items-center py-2">
    <div>
        <%= page_entries_info posts %>
    </div>
    <div>
        <%= paginate posts, params: {
            controller: "posts",
            action: "index",
            page: params['page']
        } %>
    </div>
</div>