<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FullStarterKit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <aside class="h-[100svh] bg-[#f6f6f8] w-20 fixed left-0 top-0 z-10">
      <div class="h-16 flex items-center justify-center">
        Logo
      </div>
      <nav aria-label="sidebar-nav" class="bg-white h-[calc(100svh-4rem)] border-r-4 border-r-[#f6f6f8] rounded-l-3xl">
        <ul>
          <li class="duriation-300 hover:bg-gray-50 h-16 flex items-center justify-center">
            <%= lucide_icon('gauge','class' => 'text-[#7c7f81] !text-[#608cc6]') %>
          </li>
          <li class="duriation-300 hover:bg-gray-50 h-16 flex items-center justify-center">
            <%= lucide_icon('settings','class' => 'text-[#7c7f81]') %>
          </li>
          <li class="duriation-300 hover:bg-gray-50 h-16 flex items-center justify-center">
            <%= lucide_icon('users-round','class' => 'text-[#7c7f81]') %>
          </li>
        </ul>
      </nav>
    </aside>
    <header class="w-full h-16 bg-[#f6f6f8] pl-20 flex justify-between fixed top-0">
      <nav aria-label="header-nav" class="h-full">
        <ul class="h-full flex items-end">
          <li class="bg-white h-14 min-w-32 p-2 rounded-t-xl flex items-center justify-center">
            Dashboard
          </li>
        </ul>
      </nav>
      <div data-controller="dropdown">
        <div class="flex items-center h-full">
          <button data-action="click->dropdown#toggle" class="w-64 gap-4 pr-4 flex items-center">
            <div class="bg-white p-2 px-3 w-full rounded-2xl">
              Wailan Thom Tirajoh
            </div>
            <div class="text-[#608cc6]">
              <%= lucide_icon('user-round','class' => 'text-[#999c9e]') %>
            </div>
          </button>
        </div>
        <div data-dropdown-target="content" class="absolute -bottom-12 right-4">
            <div class="bg-white w-64 p-4 rounded-lg shadow">
                Dropdown
            </div>
        </div>
      </div>
    </header>
    <div class="pl-20 pt-16">
      <main class="p-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
